<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>上海理工大学校欢迎你！</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <link href="./css/blog.css" rel="stylesheet">
  <!--[if lt IE 9]><script src="./assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="./js/ie-emulation-modes-warning.js"></script>
  <script src="./js/jquery.min.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="container">
    <mybody></mybody>
  </div>

  <script type="text/x-template" id="bodytemplate">
  <div class="container ph-list">
    <div class="blog-header clearfix">
      <h3 class="blog-title pull-left">{{ categoryName }}</h3>
    </div>
    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
          <div class="row ph-row">
            <div class="col-sm-6 col-md-3" v-for="item in items">
              <div class="thumbnail" @click="detail(item._id);">
                <img :src="'./files/' + item.avator" data-holder-rendered="true" />
                <div class="caption">
                  <h3>{{ item.position }}</h3>
                  <p>{{ item.content }}</p>
                  <p><a :href="'/detail.html?id=' + item._id" class="btn btn-success" role="button">查看更多</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.blog-post -->
      </div>
      <!-- /.blog-main -->
      <div class="col-sm-4 blog-sidebar">
        <div id="carousel-example-captions" class="carousel slide ph-slide">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-captions" :data-slide-to="index" :class="{active:index == 0}" v-for="(item, index) in top"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div @click="detail(item._id);" :class="{item: true, active:index == 0}" v-for="(item, index) in top">
          <img :src="'./files/' + item.avator" data-holder-rendered="true" />
          <div class="carousel-caption">
              <h3>{{ item.position }}</h3>
              <p>{{ item.content }}</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="input-group ss-form">
      <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-lg" aria-label="Help"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </div>
          <input v-model="searchTxt" type="text" class="form-control input-lg" :placeholder="'输入' + searchTitle + '名字...'">
          <div class="input-group-btn">
            <button @click="search" type="button" class="btn btn-default btn-lg btn-ss">搜 索</button>
          </div>
        </div>
      <p class="ff-btn" onclick="window.location.href='/';"><img src="./images/ff-btn.png" data-holder-rendered="true"></p>
      </div>
      <!-- /.blog-sidebar -->
    </div>
    <!-- /.row -->
  </div>
  </script>
  <!-- /.container -->
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/scroll.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="./js/ie10-viewport-bug-workaround.js"></script>

  <script src="./js/vue.min.js"></script>
  <script>
    Vue.component('mybody', {
      template: '#bodytemplate',
      data: function(){
          return {
          items: [],
          srcItems: [],
          top: [],
          searchTxt: ''
        }
      },
      created: function(){
        getList(this);
      },
      methods: {
        detail: function(id){
          window.location.href='/detail.html?id=' + id;
        },
        search() {
          console.log(this.searchTxt);
          this.items = [];
          if(!this.searchTxt) {
            this.items = this.items.concat(this.srcItems);
          }else{
            var self = this;
            this.srcItems.forEach(function(item){
              if(item.title.indexOf(self.searchTxt) > -1){
                console.log(item.title);
                self.items.push(item);
              }
            })
          }
        }
      },
      computed: {
        categoryName: function(){
          switch(getParameterByName("t")){
            case 'news':
              return '新闻公告';
            case 'leader':
              return '领导介绍';
            case 'teacher':
              return '师资介绍';
            case 'award':
              return '获奖介绍';
            case 'classmate':
              return '校友介绍';  
          }
          return "";
        },
        searchTitle: function(){
          switch(getParameterByName("t")){
            case 'news':
              return '新闻';
            case 'leader':
              return '领导';
            case 'teacher':
              return '教师';
            case 'award':
              return '奖励';
            case 'classmate':
              return '校友';  
          }
          return "";
        }
      }
    });

    new Vue({
      el: '#container'
    });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
  
    function getList(target) {
      var url = '/api/list?t=' + getParameterByName("t");
      $.get(url, function(ret){
        if(ret.code != 0){
          alert('System Error!(' + ret.code + ')');
          return;
        }
        target.items = target.items.concat(ret.data);
        target.srcItems = target.srcItems.concat(ret.data);
        ret.data.forEach(function(item) {
          if(item.status === 'top')
          target.top.push(item);
        });

        setTimeout(function(){
          $('.carousel').carousel({interval:3000});
        }, 1500);
      })
    }

    
  </script>
</body>

</html>